@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import 'reset';
@import 'breakpoints';
@import 'colors';
@import 'typography';
@import 'spacing';
@import 'display';
@import 'buttons';
@import 'flex';
@import 'forms';
@import 'components';
@import 'alerts';
@import 'boards';
@import 'posts';

.color-tester {
  display: block;
  width: 100%;
  height: 2em;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
}
